<%- include ('includes/head') %> <%- include ('includes/header') %>

<div class="profiel-detail-pagina">
    <div class="profiel-top-info">
        <div class="profiel-foto">
            <img src="/uploads/<%= data.profielfoto %>" alt="profielfoto" />
        </div>
        <div class="profiel-informatie">
            <h2><%= data.naam %></h2>
            <div class="match-berekening">
            </div>
        </div>
    </div>
    <div class="profiel-item-informatie">
        <p>Geslacht: <%= data.geslacht %></p>
        <p>Leeftijd: <%= data.leeftijd %></p>
        <p>Op zoek naar een: <%= data.voorkeur %></p>
        <br />
        <p><%= data.bio %></p>
        <div>
            <a href="/profiles/"><button>Terug</button></a>
            <a href="/my-profile/update"><button>Bewerk</button></a>
            <form action="/delete-profile" method="POST">
            <a href="#"><button>Verwijder</button></a>
            </form>
            <form action="/log-out" method="POST">
                <a href="#"><button>Log uit</button></a>
            </form>
        </div>
    </div>
</div>

<%- include ('includes/footer') %>
