<%- include ('includes/head.ejs') %> 
<%- include ('includes/header.ejs') %>

    <h1> page not found</h1>
    
<%- include ('includes/footer.ejs') %>

<!-- <h2><a href="/profiles/<%= dataProfiles[index].naam %>"><%= dataProfiles[index].naam %></a></h2>
<p><%= dataProfiles[index].bio %></p> -->